/* Level 1 */
.groupResetEmail{
  margin-top: 271px;
  /* display: none; */
}

.formResetEmail{
  width: 490px;
  margin: 0 auto;
}

.inputResetEmail{
  width: 100%;
  padding: 28px 20px;
  border-radius: 20px;
  background: #4C4C4C99;
  border: 1px solid #8A8A8A80;
  color: #FFFFFFE5;
  outline: none;
  
  margin-top: 20px;
}

.buttonResetEmail{
  display: block;
  width: 100%;
  padding: 23px 20px;
  border-radius: 20px;
  background: #24AC18E5;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
}

.spanResetEmail{
  font-size: 16px;
  font-weight: 400;
  color: #00C724;
  text-align: left;
  margin-top: 10px;
}

/* Level 2 */
.groupResetOTP{
  margin-top: 254px;
  display: none;
}

.formResetOtp{
  width: 490px;
  margin: 0 auto;
}

.groupOtp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.inputOtp{
  width: 110px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  background: #4C4C4C99;
  border: 1px solid #8A8A8A80;
  border-radius: 20px;
  outline: none;
}

/* Level 3 */
.groupResetPassword{
  margin-top: 238px;
  display: none;
}